#homepage {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#homepage-headline {
  color: whitesmoke;
}

.landing-img {
  width: 100%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  display: flex;
}
