#search-bar-container {
  display: flex;
}

#search-bar {
  height: 56px;
  background-color: whitesmoke;
  color: black;
  outline: none;
  border-style: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 12px;
}

#search-bar-button {
  background-color: #303134;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0px 12px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#search-bar-icon {
  cursor: pointer;
}

#homepage-headline > h5 {
  margin-bottom: 0px;
}
