#search-page {
  display: flex;
  flex-wrap: wrap;
  background-color: #202124;
  color: whitesmoke;
  padding: 24px 48px;
  min-height: 100vh;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* .column img {
  margin-bottom: 8px;
} */

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
