#search-page {
  display: flex;
  flex-wrap: wrap;
  background-color: #202124;
  color: whitesmoke;
  padding: 24px 48px;
  min-height: 100vh;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

/* .column img {
  margin-bottom: 8px;
} */

.loading {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
