.img-top-rounded {
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.image-card-actions {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 12px 0px 6px 24px;
}

.image-card-action-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.image-card-info {
  padding-left: 24px;
  padding-right: 24px;
  background-color: black;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.image-card-info-author {
  font-weight: bold;
  margin-bottom: 0px;
}

.image-card-info-desc {
  padding-bottom: 16px;
}
