.img-card {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.image-card-actions {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 12px 0px 12px 24px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.image-card-action-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
